$color-purple: rgb(159, 133, 227);
$background: rgb(245, 245, 245);

$breakpoint-small: 36 * 16px;
$breakpoint-medium: 60 * 16px;
$breakpoint-large: 70 * 16px;

html,
body {
  background-color: $background;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  @media (min-width: $breakpoint-small) {
    padding: 1rem;
  }
}
.App {
  background-color: white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  // margin: 2.5rem 2rem;
  margin: 0;
  padding: 1rem;
  &__index {
    background-color: $color-purple;
    text-align: center;
    padding: 0.25rem;
    max-height: 1rem;
    height: 1rem;
    max-width: 1rem;
    width: 1rem;
    line-height: 1rem;
    border-radius: 1rem;
    display: inline-block;
    float: left;
    margin-right: 0.5rem;
    color: white;
  }
  &__title {
    padding-bottom: 0;
    margin-bottom: 0.5rem;
  }
  &__explanation {
    font-size: 0.8rem;
    margin-left: 2rem;
  }
  &__form-field {
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    padding-bottom: 1rem;
    // &--error {
    //   input {
    //     border: 1px solid red;
    //   }
    // }
  }
  &__field {
    &--number {
      padding: 0.5rem 0.25rem;
    }
    &--text {
      padding: 0.5rem 0.25rem;
      clear: left;
      margin-top: 0.5rem;
      display: block;
    }
  }
  &__field-options {
    padding-left: 0;
  }
  &__field-option-wrapper {
    list-style: none;
  }
  &__field-option {
    margin-right: 0.5rem;
  }
  &__field-label {
    font-weight: bold;
  }
  &__field-error {
    margin: 0.5rem 0;
    color: #400;
  }
  &__field-error-icon {
    margin-right: 0.5rem;
  }
  &__control-panel {
    text-align: right;
  }
  &__form-field-content {
    &--nested {
      margin-top: 0.5rem;
      .App__field {
        margin-right: 0.5rem;
      }
      .App__field-label {
        margin-right: 0.5rem;
        font-weight: normal;
      }
    }
  }
  &__button {
    &--submit {
      color: white;
      font-weight: bolder;
      padding: 0.4rem 0.5rem;
      text-transform: uppercase;
      background-color: mix(#0cf, rgb(106, 187, 204));
      border: 1px solid darken(rgb(106, 187, 204), 10);
      border-radius: 2px;
    }
    &--disabled {
      background-color: #ccc;
      border: 1px solid #bbb;
      color: #888;
    }
  }
}
